<app-navbar></app-navbar>

<div class="form-wrapper" *ngIf="addPostForm">
  <mat-card class="box">
    <mat-card-header>
      Add new post
    </mat-card-header>

    <form class="form" [formGroup]="addPostForm" (ngSubmit)="addPostForm.valid && onAddPostSubmit()" noval>
      <mat-card-content>
        <mat-form-field class="field-full-width">
          <input matInput formControlName="title" placeholder="Title" />
          <mat-error>Missing title.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let category of categories" [value]="category">
              {{category}}
            </mat-option>
          </mat-select>
          <mat-error>Please choose a category</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Type</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of types" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
          <mat-error>Please choose a type of post</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="checkType() === 'Link'">
          <input matInput formControlName="location" placeholder="Link address" />
          <mat-error>Missing link.</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="checkType() === 'Video'">
        <ngx-mat-file-input formControlName="file" placeholder="Add Video" accept="video/*">
        </ngx-mat-file-input>
      </mat-form-field>

      <mat-form-field *ngIf="checkType() === 'Audio'">
        <ngx-mat-file-input formControlName="file" placeholder="Add Audio" accept="audio/*">
        </ngx-mat-file-input>
      </mat-form-field>

      <mat-form-field *ngIf="checkType() === 'Image'">
        <ngx-mat-file-input formControlName="file" placeholder="Add Photo" accept="image/*">
        </ngx-mat-file-input>
      </mat-form-field>

        <mat-form-field>
          <textarea matInput formControlName="description" placeholder="Description">
            </textarea>
          <mat-error>Max 250 characters.</mat-error>
        </mat-form-field>

        <div formArrayName="instruments">
          <button type="button" (click)="addInstrument()">Add Instrument</button>
          <div *ngFor="let cat of instruments; let i = index">
            <mat-form-field>
              <input matInput formControlName="{{i}}" placeholder="Instrument" />
              <mat-error>Instruments is empty.</mat-error>
            </mat-form-field>
            <button type="button" (click)="removeInstrument(i)">Remove Instrument</button>
          </div>
        </div>

        <div formArrayName="tags">
          <button type="button" (click)="addTag()">Add Tag</button>
          <div *ngFor="let cat of tags; let i = index">
            <mat-form-field>
              <input matInput formControlName="{{i}}" placeholder="Tag" />
              <mat-error>Tag is empty.</mat-error>
            </mat-form-field>
            <button type="button" (click)="removeTag(i)">Remove Tag</button>
          </div>
        </div>

      </mat-card-content>
      <button mat-stroked-button color="primary" class="btn-block">Add Post</button>
    </form>
  </mat-card>

</div>