<mat-card class="post-card mat-card-cvr">
  <mat-card-header class="mat-card-title">
    <mat-card-title>{{post.title}}</mat-card-title>
    <mat-card-subtitle><a (click)="goToProfile(post.username)">{{post.username}}</a> | {{formatTags()}}
    </mat-card-subtitle>
  </mat-card-header>
  <span>{{post.instruments}}</span>
  <div *ngIf="post.type === 'Link'">
    <div [innerHtml]="embedVideo()"></div>
  </div>
  <div *ngIf="post.type === 'Image'"><img src="{{'data:image/jpg;base64,' + image}}" width="300" /></div>
  <div *ngIf="post.type === 'Video'">
    <video controls (click)="toggleVideo()" #videoPlayer width="450">
      <source [src]="video" type="video/mp4" />
      Browser not supported
    </video>
  </div>

  <div *ngIf="post.type === 'Audio'">
    <audio controls>
      <source [src]="audio" type="audio/mpeg">
      Your browser does not support the audio tag.
    </audio>
  </div>
  <mat-card-content>
    <br />
    <p>
      {{post.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="!checkIfLiked()" (click)="likeBtnClick()">LIKE</button>
    <button mat-button *ngIf="checkIfLiked()" (click)="unlikeBtnClick()">LIKED</button>
    <button mat-button *ngIf="!commentsView" (click)="commentsBtnClick()">COMMENTS</button>
    <button mat-button *ngIf="commentsView" (click)="hideCommentsBtnClick()">HIDE COMMENTS</button>
    <button mat-button *ngIf="checkAuthor()" (click)="deletePost()">DELETE</button>
  </mat-card-actions>

  <div *ngIf="commentsView">

    <app-comment [comment]="comment" *ngFor="let comment of comments"></app-comment>

    <form class="form" [formGroup]="addCommentForm" (ngSubmit)="addCommentForm.valid && onAddCommentSubmit()" noval>

      <mat-form-field>
        <textarea matInput formControlName="body" placeholder="Comment on post">
        </textarea>
        <mat-error>Comment body is required, max 250 characters.</mat-error>
      </mat-form-field>
      <button mat-stroked-button color="primary" class="btn-block">Add Comment</button>
    </form>
  </div>
</mat-card>